
// $primary   : #1976D2;
$primary: #FB9400;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// Cores Padrão
$primary-color:#FB9400;
$bg-primary: #E5E5E5;

.primary-color {
  background-color: $primary-color;
}

.bg-primary {
  background-color: $bg-primary;
}
